<!DOCTYPE html>
<html>
<head>
	<title>Update-form</title>
	<link rel="stylesheet" type="text/css" href="../../css/style.css">
	<link rel="stylesheet" type="text/css" href="../../css/grid.css">
	<script src="../../js/script.js"></script>
</head>
<body>
	<div class="container">
		<div class="header">
			<p style="color:rgb(124,252,0)">&#9784;</p>
			<h1><span style="color:rgb(124,252,0)">&#8465;&#8477;&#8455;</span>PORT<span style="color:rgb(124,252,0)">&#8455;&#8477;</span></h1>
		</div>
		<div class="nav-bar">
			<nav>
				<h1 style="color: lightblue">Previous Report Review</h1>
			</nav>
		</div>
		<div class="sidebar">
			<h2>REDFLAG REPORT</h2>
		</div>
		<div class="main">
			<form class="signup">
                <h2><span style="color:rgb(124,252,0)">form-number</span> 266</h2>
                <div class="row">
                    <div class="col-25">
                        <label>Title</label>
                    </div>
                    <div class="col-70">
						<a type="" class="text" name="">Theft</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
											<label>Suspect</label>
                    </div>
                    <div class="col-70">
                        <a type="" class="text" name="">Thomas</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label>Location</label>
                    </div>
                    <div class="col-70">
                        <input type="" name="" class="locate" placeholder="0.39987">
                        <input type="" name="" class="locate" placeholder="9.7979">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label>DatePicker</label>
                    </div>
                    <div class="col-70">
                        <a type="" class="text" name="">08th/07/2018</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="">Description</label>
                    </div>
                    <div class="col-70">
                         <textarea name="subject" placeholder="He stole all my money and ths photo down was captured by my hdden car camera" style="height:150px"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="">Evidence Photo</label>
                    </div>
                    <div class="col-70">
                        <input type="file" name="pic" accept="image/*">
                        <img src="../../img/2.jpeg">
                    </div>
                </div>
                <br>
                <a href="home.html"  type="" name="" class="button" onclick="update()">Update</a>
            </form>
		</div>
		<div class="footer">
			<p>Copyright@Manuel</p><a href="#">Andelaug.com</a>
		</div>
	</div>
</body>
</html>
