<!DOCTYPE html>
<html>
<head>
	<title>Inter-form</title>
	<link rel="stylesheet" type="text/css" href="../../css/style.css">
	<link rel="stylesheet" type="text/css" href="../../css/grid.css">
	<!-- <script src="../../js/script.js"> -->
</head>
<body>
	<div class="container">
		<div class="header">
		<h1>I-REPORT</h1>
		</div>
		<div class="nav-bar">
			<nav>
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">Red-form</a></li>
					<li><a href="#">Interven-form</a></li>
					<li><a href="#">LogOut</a></li>
				</ul>
			</nav>
		</div>
		<div class="sidebar">
			<h2>Welcome To IReport</h2>
		</div>
		<div class="main">
			<table>
				<tbody>
					<tr>
						<th>Id</th>
						<th>Title</th>
						<th>Location</th>
						<th>Status</th>
						<th>Detail</th>
						<th>Delete</th>
					</tr>
					<tr>
						<td>1</td>
						<td>Bribe</td>
						<td>Kampala</td>
						<td>Rejected</td>
						<td><a href="report.html" class="button">Report</a></td>
						<td><a class="button">Delete</a></td>
					</tr>
					<tr>
						<td>2</td>
						<td>Rape</td>
						<td>Kyandondo</td>
						<td>UnderIvestigation</td>
						<td><a href="edit.html" class="button">Edit</a></td>
						<td><a class="button">Delete</a></td>
					</tr>
					<tr>
						<td>3</td>
						<td>Thieft</td>
						<td>Kamwonya</td>
						<td>Resolved</td>
						<td><a href="report.html" class="button">Report</a></td>
						<td><a class="button">Delete</a></td>
					</tr>
					<tr>
						<td>4</td>
						<td>Bribe</td>
						<td>Kampala</td>
						<td>Rejected</td>
						<td><a href="report.html" class="button">Report</a></td>
						<td><a class="button">Delete</a></td>
					</tr>
					<tr>
						<td>5</td>
						<td>Rape</td>
						<td>Kyandondo</td>
						<td>UnderIvestigation</td>
						<td><a href="edit.html" class="button">Edit</a></td>
						<td><a class="button">Delete</a></td>
					</tr>
					<tr>
						<td>6</td>
						<td>Thieft</td>
						<td>Kamwonya</td>
						<td>Resolved</td>
						<td><a href="report.html" class="button">Report</a></td>
						<td><a class="button">Delete</a></td>
					</tr>
					<tr>
						<td>7</td>
						<td>Bribe</td>
						<td>Kampala</td>
						<td>Rejected</td>
						<td><a href="report.html" class="button">Report</a></td>
						<td><a class="button">Delete</a></td>
					</tr>
					<tr>
						<td>8</td>
						<td>Rape</td>
						<td>Kyandondo</td>
						<td>UnderIvestigation</td>
						<td><a href="edit.html" class="button">Edit</a></td>
						<td><a class="button">Delete</a></td>
					</tr>
					<tr>
						<td>9</td>
						<td>Thieft</td>
						<td>Kamwonya</td>
						<td>Resolved</td>
						<td><a href="report.html" class="button">Report</a></td>
						<td><a class="button">Delete</a></td>
					</tr>
					<tr>
						<td>10</td>
						<td>Thieft</td>
						<td>Kamwonya</td>
						<td>Rejected</td>
						<td><a href="report.html" class="button">Report</a></td>
						<td><a class="button">Delete</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="footer">
			<p>Copyright@Manuel</p><a href="#">Andelaug.com</a>
		</div>
	</div>
</body>
</html>