<!DOCTYPE html>
<html>
<head>
	<title>Index</title>
	<link rel="stylesheet" type="text/css" href="../../css/style.css">
	<link rel="stylesheet" type="text/css" href="../../css/grid.css">
	<!-- <script src="../../js/script.js"> -->
</head>
<body>
	<div class="container">
		<div class="header">
		<h1>I-REPORT</h1>
		</div>
		<div class="nav-bar">
			<nav>
				<ul>
					<li><a href="#">Menu</a></li>
					<li><a href="#">About</a></li>
					<form class="login">
						<input type="email" name="" class="btn" placeholder="Enter Email" required/>
						<input type="text" name="" class="btn" placeholder="Enter Password" required/>
						<a href="#"  type="" name="" class="button">Submit</a>
					</form>
				</ul>
			</nav>
		</div>
		<div class="sidebar">
			<h2>Welcome To IReport</h2>
			<a href="../admin/index.html" type="" name="" class="admin" style="float: right;">LoginAdmin</a>
		</div>
		<div class="main">
			<form class="signup">
				<h2>SignUp-Form</h2>
				<input type="text" name="" placeholder="Enter Name" required/>
				<input type="email" name="" placeholder="Enter Email" required/>
				<input type="text" name="" placeholder="Enter IdNumber" required/>
				<input type="text" name="" placeholder="Enter ContactNumber" required/>
				<input type="text" name="" placeholder="Enter Password" required/>
				<input type="text" name="" placeholder="Re-Enter Password" required/>
				<br>
				<br>
				<a href="#"  type="" name="" class="button">Submit</a>
			</form>
		</div>
		<div class="footer">
			<p>Copyright@Manuel</p><a href="#">Andelaug.com</a>
		</div>
	</div>
</body>
</html>