<!DOCTYPE html>
<html>
<head>
	<title>Write-form</title>
	<link rel="stylesheet" type="text/css" href="../../css/style.css">
	<link rel="stylesheet" type="text/css" href="../../css/grid.css">
	<script src="../../js/script.js"></script>
</head>
<body>
	<div class="container">
		<div class="header">
			<p style="color:rgb(124,252,0)">&#9784;</p>
			<h1><span style="color:rgb(124,252,0)">&#8465;&#8477;&#8455;</span>PORT<span style="color:rgb(124,252,0)">&#8455;&#8477;</span></h1>
		</div>
		<div class="nav-bar">
			<nav>
				<ul>
					<li><a href="home.html">Home</a></li>
					<li><a href="redflag-form.html">Redflag-Form</a></li>
					<li><a href="intervetion-form.html">Intervestion-Form</a></li>
					<a href="../../index.html"  type="" name="" class="logout" style="float: right;">LogOut</a>
				</ul>
			</nav>
		</div>
		<div class="sidebar">
			<h2>Welcome To IReporter</h2>
		</div>
		<div class="main">
			<form class="signup">
                <h2><span style="color:rgb(124,252,0)">form-number</span> 266</h2>
                <div class="row">
                    <img src="../../img/1.jpeg" width="20%" height="20%" style="float: left;">
                </div>
                <div class="row">
                    <div class="col-25">
                        <label>Case Title</label>
                    </div>
                    <div class="col-70">
                        <input type="text" name="" placeholder="Enter Title e.g, Theft">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label>Report To</label>
                    </div>
                    <div class="col-70">
                        <input type="text" name="" placeholder="Enter Concerned Management">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label>Location</label>
                    </div>
                    <div class="col-70">
                        <input type="text" name="" class="date" placeholder="Longtitude eg. 0.39987">
                        <input type="text" name="" class="date" placeholder="Latitude eg. 9.7979">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label>DatePicker</label>
                    </div>
                    <div class="col-70">
                        <input type="date" class="date" name="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="">Description</label>
                    </div>
                    <div class="col-70">
                         <textarea name="subject" placeholder="Add more Detials If any" style="height:150px"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-25">
                        <label for="">Evidence Photo</label>
                    </div>
                    <div class="col-70">
                        <input type="file" name="pic" accept="image/*">
                    </div>
                </div>
                <br>
                <a href="home.html"  type="" name="" class="button" onclick="form()">Submit</a>
            </form>
		</div>
		<div class="footer">
			<p>Copyright@Manuel</p><a href="#">Andelaug.com</a>
		</div>
	</div>
</body>
</html>