<!DOCTYPE html>
<html>
<head>
	<title>Report-form</title>
	<link rel="stylesheet" type="text/css" href="../../css/style.css">
	<link rel="stylesheet" type="text/css" href="../../css/grid.css">
	<!-- <script src="../../js/script.js"> -->
</head>
<body>
	<div class="container">
		<div class="header">
		<h1>I-REPORT</h1>
		</div>
		<div class="nav-bar">
			<nav>
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">Red-form</a></li>
					<li><a href="#">Interven-form</a></li>
					<li><a href="#">LogOut</a></li>
				</ul>
			</nav>
		</div>
		<div class="sidebar">
			<h2>Welcome To IReport</h2>
		</div>
		<div class="main">
			<form class="">
				<h2>Report</h2>
				<img src="../../img/2.jpg">
				<label>Crime</label>
				<label>personIvoved</label>
				<label>LocationPicker-lat/long</label>
				<label>DatePicker</label>
				<label>Description</label>
				<img src="../../img/1.jpg">
				<br>
				<br>
				<a href="#"  type="" name="" class="button">Submit</a>
			</form>
		</div>
		<div class="footer">
			<p>Copyright@Manuel</p><a href="#">Andelaug.com</a>
		</div>
	</div>
</body>
</html>